@use "../../css/mixin" as *;

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 50px;
  background-color: #11295e31;

  @include sp {
    padding: 50px;
  }

  .inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include sp {
      flex-direction: column;
    }

    .searchTitle {
      font-size: 30px;
      font-family: "Rubik", sans-serif;
      font-weight: 500;

      @include sp {
        font-size: 25px;
      }
    }

    .inputWrap {
      display: flex;
      gap: 10px;

      .inputs {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    .inputName {
      width: 300px;
      height: 60px;
      font-size: 20px;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #c0c0c0;
      background-color: transparent;

      @include sp {
        width: 250px;
      }
    }

    .inputTag {
      width: 100px;
      height: 60px;
      font-size: 20px;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #c0c0c0;
      background-color: transparent;
    }
  }

  .card {
    display: flex;
    justify-content: center;
  }
}
