.comp {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #d9d9d9;
  width: 700px;
  // height: 120px;
  border-radius: 20px;
  padding: 15px 20px;
  justify-content: space-between;
}

.roundImage {
  border-radius: 50%; /* 画像を丸くする */
  overflow: hidden; /* 丸い形に画像を収める */
  width: 80px; /* 画像の幅と高さに合わせる */
  height: 80px;
}

.result {
  color: black;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.teamName {
  color: #1c1c1c;
}
