@use "../../css/mixin" as *;

.comp {
}

.flame {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include sp {
    gap: 20px;
  }

  .video {
    width: 900px;
    border-radius: 20px;
    aspect-ratio: 16 / 9;

    @include sp {
      width: 300px;
    }
  }
}
