@use "../../css/mixin" as *;

.button {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  background-color: #4287f5;

  @include sp {
    width: 60px;
    height: 25px;
    font-size: 11px;
    color: #fff;
  }
}
