.head {
  margin-bottom: 150px;
}
.backGround {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0);
  background: url("/skill2.png") repeat;
  animation: scrollBackground 250s linear infinite;
}

.backGround::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 黒色の半透明のフィルター */
  z-index: -1; /* 背景よりも手前に表示 */
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10000px; /* この値は適切な速度でスクロールするために調整する必要があります */
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 60px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.mastery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 200px 0 200px;

  padding-bottom: 150px;

  .masteryTitle {
    width: 100%;
    border-bottom: 2px solid #fff;
    font-size: 50px;
    font-family: "Roboto Slab", serif;
  }

  .masteryWrap {
    display: flex;
    gap: 70px;
    font-family: "Rubik", sans-serif;
  }

  .masteryData {
    display: flex;
    flex-direction: column;
  }

  .championContainer {
    color: rgb(174, 174, 174);
  }

  .championCard {
    border: 1px solid #c4c4c4;
    padding: 10px;
  }
  .masteryStuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: "Rubik", sans-serif;
  }
  .champName {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }

  .champLevel {
  }

  .champPoints {
  }

  .masteryIcon {
    width: 200px;
    height: 200px;
    background-color: gray;
  }
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 300px 150px 300px;
  gap: 40px;
}
