.comp {
  height: 60px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  color: rgb(212, 212, 212);
}

.link {
  display: flex;
  gap: 20px;
  font-family: "inter", sans-serif;
  font-size: 15px;
  color: rgb(212, 212, 212);
  letter-spacing: 1px;
}
