@use "../../css/mixin" as *;

.comp {
  height: 60px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  @include sp {
    padding: 15px;
  }
}

.title {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  color: rgb(212, 212, 212);

  @include sp {
    font-size: 20px;
  }
}

.link {
  display: flex;
  gap: 20px;
  font-family: "inter", sans-serif;
  font-size: 15px;
  color: rgb(212, 212, 212);
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;

  @include sp {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .link {
    display: none;
  }
  .drawer {
    display: flex;
  }
}

@media (min-width: 601px) {
  .drawer {
    display: none;
  }
}
