.comp {
  height: 100px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  color: rgb(142, 142, 142);
}
