.comp {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
}

.img {
  width: 100%;
}
.backGround {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0);
  background: url("/skill2.png") repeat;
  animation: scrollBackground 250s linear infinite;
}

.backGround::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; /* 背景よりも手前に表示 */
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10000px; /* この値は適切な速度でスクロールするために調整する必要があります */
  }
}

.summoner {
  margin-bottom: 100px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  border-bottom: 1px solid #fff;
  font-size: 50px;
  font-family: "Roboto Slab", serif;
}

.card {
  display: flex;
  justify-content: center;
}

.cardWrap {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* 3列 */
  gap: 50px; /* 必要に応じて間隔を調整 */
}

.mach {
  padding-bottom: 200px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
