.clip {
  padding-bottom: 150px;
  background: linear-gradient(to right, #102b27, #0d213e);
}
.head {
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;

  .titleText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    width: 70%;
    border-bottom: 1px solid #fff;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}
