.comp {
  // height: 250px;
  width: 500px;
  height: 200px;
  background-color: rgb(98, 98, 98);
  display: flex;
  border-radius: 20px;
  border: 1px solid #d1d1d1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  gap: 20px;
  border-radius: 20px;
}

.image {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 15px;

  .name {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
  }

  .tag {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: #d8d8d8;
  }
}
