@use "../../css/mixin" as *;

.comp {
  position: relative;
  width: 500px;
  height: 200px;
  display: flex;
  border-radius: 10px;
  border: 1px solid #7f89b5;

  @include sp {
    width: 300px;
    height: 120px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); // 透明度を適用
    border-radius: 10px; // 角丸を維持
    z-index: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  gap: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;

  @include sp {
    width: 120px;
    height: 120px;
    gap: 10px;
  }
}

.image {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 20px;

  @include sp {
    width: 90px;
    height: 90px;
  }
}

.right {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  gap: 15px;

  @include sp {
    width: 180px;
  }

  .name {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1px;
    color: #4287f5;

    @include sp {
      font-size: 18px;
    }
  }

  .tag {
    font-family: "Rubik", sans-serif;

    font-size: 20px;
    color: #cc0077;
    letter-spacing: 1px;

    @include sp {
      font-size: 13px;
    }
  }
}
